*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ancho{
    width: 40%;
}

.linea{
    width: 70%;
}

.bodyRegister{
    background-image: url('../ima/img_fondoRegistrar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bodyLogin{
    background-image: url('../ima/img_fondoLogin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
